body{
    background-color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }
      img{
        position: absolute;
        top: 40%;
        left:30%;
        float: center;

      }
      
     
}